* {
    font-family: sans-serif;
}
h1 {
    background-color: black;
    color: white;

}

h1 span {
    color: cyan;
}

h2 {
    text-align: center;
    color: white;
    background-color: rebeccapurple;
    font-style: italic;
}

h3 {
    color: darkblue;
    text-decoration: underline;
    text-align: right;
    background-color: lightblue;
}