<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <div class="goldcounter">
            <h1>Your Gold: {{ session.gold }}</h1>
        </div>
        <div class="goldsources">
            <div class="farm">
                <h2>Farm</h2>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="farm" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="cave">
                <h2>Cave</h2>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="house">
                <h2>House</h2>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="casino">
                <h2>Casino</h2>
                <p>(earns/takes 0-50 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
        </div>
        <div class="activities">
            <h1>Activities:</h1>
            <ul>
                {% for each in range(0, session.activities|length) %}
                <li>{{ session.activities[each] }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>